<div class="column">
<% (0..@ranking.answer.length-1).each do |n| %>
  <div class="card">
    <header class="card-header">
      <h1 class="card-header-title">
        <%= @ranking.answer[0].ranking.title %>
      </h1>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
      <p class="card-header-title">

      <h1><%= image_tag @ranking.answer[n].user.image %>回答者:<%=@ranking.answer[n].user.name%>さん</h1>
      <%= link_to "この人の他の回答を見る", user_path(@ranking.answer[n].user.id) %>
      </p>
      <h3 class="card-header-title">
        コメント:<%= @ranking.answer[n].comment %>
      </h3>
      <table class="table is-bordered is-narrow">
      <tr>
      <th class="table_header">Aランク</th><th><%= culc(5,n)%></th></tr>
      <th class="table_header">Bランク</th><th><%= culc(4,n)%></th></tr>
      <th class="table_header">Cランク</th><th><%= culc(3,n)%></th></tr>
      <th class="table_header">Dランク</th><th><%= culc(2,n)%></th></tr>
      <th class="table_header">Eランク</th><th><%= culc(1,n)%></th></tr>
      </table>
      </div>
    </div>
  </div>
  <% end %>
</div>
