<div class="column">
<% (0..@ranking.answer.length-1).each do |n| %>
  <div class="card">
    <header class="card-header">
      <h1 class="card-header-title">
        <%= @ranking.answer[0].ranking.title %>
      </h1>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
      <p class="card-header-title">

      <h1><%= image_tag @ranking.answer[n].user.image %>回答者:<%=@ranking.answer[n].user.name%>さん</h1>
      <%= link_to "この人の他の回答を見る", user_path(@ranking.answer[n].user.id) %>
      </p>
      <h3 class="card-header-title">
        コメント:<%= @ranking.answer[n].comment %>
      </h3>
      <table class="table is-bordered is-narrow">
      <tr>
      <th class="table_header">Aランク</th>
      <th>
        <%= rank(5,@ranking.answer[n].answer1,@ranking.element1) %>
        <%= rank(5,@ranking.answer[n].answer2,@ranking.element2) %>
        <%= rank(5,@ranking.answer[n].answer3,@ranking.element3) %>
        <%= rank(5,@ranking.answer[n].answer4,@ranking.element4) %>
        <%= rank(5,@ranking.answer[n].answer5,@ranking.element5) %>
        <%= rank(5,@ranking.answer[n].answer6,@ranking.element6) %>
        <%= rank(5,@ranking.answer[n].answer7,@ranking.element7) %>
        <%= rank(5,@ranking.answer[n].answer8,@ranking.element8) %>
        <%= rank(5,@ranking.answer[n].answer9,@ranking.element9) %>
        <%= rank(5,@ranking.answer[n].answer10,@ranking.element10) %>
        <%= rank(5,@ranking.answer[n].answer11,@ranking.element11) %>
        <%= rank(5,@ranking.answer[n].answer12,@ranking.element12) %>
        <%= rank(5,@ranking.answer[n].answer13,@ranking.element13) %>
        <%= rank(5,@ranking.answer[n].answer14,@ranking.element14) %>
        <%= rank(5,@ranking.answer[n].answer15,@ranking.element15) %>
        <%= rank(5,@ranking.answer[n].answer16,@ranking.element16) %>
        <%= rank(5,@ranking.answer[n].answer17,@ranking.element17) %>
        <%= rank(5,@ranking.answer[n].answer18,@ranking.element18) %>
        <%= rank(5,@ranking.answer[n].answer19,@ranking.element19) %>
        <%= rank(5,@ranking.answer[n].answer20,@ranking.element20) %>
        <%= rank(5,@ranking.answer[n].answer21,@ranking.element21) %>
        <%= rank(5,@ranking.answer[n].answer22,@ranking.element22) %>
        <%= rank(5,@ranking.answer[n].answer23,@ranking.element23) %>
        <%= rank(5,@ranking.answer[n].answer24,@ranking.element24) %>
        <%= rank(5,@ranking.answer[n].answer25,@ranking.element25) %>
        <%= rank(5,@ranking.answer[n].answer26,@ranking.element26) %>
        <%= rank(5,@ranking.answer[n].answer27,@ranking.element27) %>
        <%= rank(5,@ranking.answer[n].answer28,@ranking.element28) %>
        <%= rank(5,@ranking.answer[n].answer29,@ranking.element29) %>
        <%= rank(5,@ranking.answer[n].answer30,@ranking.element30) %>
        <%= rank(5,@ranking.answer[n].answer31,@ranking.element31) %>
        <%= rank(5,@ranking.answer[n].answer32,@ranking.element32) %>
        <%= rank(5,@ranking.answer[n].answer33,@ranking.element33) %>
        <%= rank(5,@ranking.answer[n].answer34,@ranking.element34) %>
        <%= rank(5,@ranking.answer[n].answer35,@ranking.element35) %>
        <%= rank(5,@ranking.answer[n].answer36,@ranking.element36) %>
        <%= rank(5,@ranking.answer[n].answer37,@ranking.element37) %>
        <%= rank(5,@ranking.answer[n].answer38,@ranking.element38) %>
        <%= rank(5,@ranking.answer[n].answer39,@ranking.element39) %>
        <%= rank(5,@ranking.answer[n].answer40,@ranking.element40) %>
        <%= rank(5,@ranking.answer[n].answer41,@ranking.element41) %>
        <%= rank(5,@ranking.answer[n].answer42,@ranking.element42) %>
        <%= rank(5,@ranking.answer[n].answer43,@ranking.element43) %>
        <%= rank(5,@ranking.answer[n].answer44,@ranking.element44) %>
        <%= rank(5,@ranking.answer[n].answer45,@ranking.element45) %>
        <%= rank(5,@ranking.answer[n].answer46,@ranking.element46) %>
        <%= rank(5,@ranking.answer[n].answer47,@ranking.element47) %>
        <%= rank(5,@ranking.answer[n].answer48,@ranking.element48) %>
        <%= rank(5,@ranking.answer[n].answer49,@ranking.element49) %>
        <%= rank(5,@ranking.answer[n].answer50,@ranking.element50) %>
        </th>
      </tr>
      <th class="table_header">Bランク</th>
      <th>
      <%= rank(4,@ranking.answer[n].answer1,@ranking.element1) %>
      <%= rank(4,@ranking.answer[n].answer2,@ranking.element2) %>
      <%= rank(4,@ranking.answer[n].answer3,@ranking.element3) %>
      <%= rank(4,@ranking.answer[n].answer4,@ranking.element4) %>
      <%= rank(4,@ranking.answer[n].answer5,@ranking.element5) %>
      <%= rank(4,@ranking.answer[n].answer6,@ranking.element6) %>
      <%= rank(4,@ranking.answer[n].answer7,@ranking.element7) %>
      <%= rank(4,@ranking.answer[n].answer8,@ranking.element8) %>
      <%= rank(4,@ranking.answer[n].answer9,@ranking.element9) %>
      <%= rank(4,@ranking.answer[n].answer10,@ranking.element10) %>
      <%= rank(4,@ranking.answer[n].answer11,@ranking.element11) %>
      <%= rank(4,@ranking.answer[n].answer12,@ranking.element12) %>
      <%= rank(4,@ranking.answer[n].answer13,@ranking.element13) %>
      <%= rank(4,@ranking.answer[n].answer14,@ranking.element14) %>
      <%= rank(4,@ranking.answer[n].answer15,@ranking.element15) %>
      <%= rank(4,@ranking.answer[n].answer16,@ranking.element16) %>
      <%= rank(4,@ranking.answer[n].answer17,@ranking.element17) %>
      <%= rank(4,@ranking.answer[n].answer18,@ranking.element18) %>
      <%= rank(4,@ranking.answer[n].answer19,@ranking.element19) %>
      <%= rank(4,@ranking.answer[n].answer20,@ranking.element20) %>
      <%= rank(4,@ranking.answer[n].answer21,@ranking.element21) %>
      <%= rank(4,@ranking.answer[n].answer22,@ranking.element22) %>
      <%= rank(4,@ranking.answer[n].answer23,@ranking.element23) %>
      <%= rank(4,@ranking.answer[n].answer24,@ranking.element24) %>
      <%= rank(4,@ranking.answer[n].answer25,@ranking.element25) %>
      <%= rank(4,@ranking.answer[n].answer26,@ranking.element26) %>
      <%= rank(4,@ranking.answer[n].answer27,@ranking.element27) %>
      <%= rank(4,@ranking.answer[n].answer28,@ranking.element28) %>
      <%= rank(4,@ranking.answer[n].answer29,@ranking.element29) %>
      <%= rank(4,@ranking.answer[n].answer30,@ranking.element30) %>
      <%= rank(4,@ranking.answer[n].answer31,@ranking.element31) %>
      <%= rank(4,@ranking.answer[n].answer32,@ranking.element32) %>
      <%= rank(4,@ranking.answer[n].answer33,@ranking.element33) %>
      <%= rank(4,@ranking.answer[n].answer34,@ranking.element34) %>
      <%= rank(4,@ranking.answer[n].answer35,@ranking.element35) %>
      <%= rank(4,@ranking.answer[n].answer36,@ranking.element36) %>
      <%= rank(4,@ranking.answer[n].answer37,@ranking.element37) %>
      <%= rank(4,@ranking.answer[n].answer38,@ranking.element38) %>
      <%= rank(4,@ranking.answer[n].answer39,@ranking.element39) %>
      <%= rank(4,@ranking.answer[n].answer40,@ranking.element40) %>
      <%= rank(4,@ranking.answer[n].answer41,@ranking.element41) %>
      <%= rank(4,@ranking.answer[n].answer42,@ranking.element42) %>
      <%= rank(4,@ranking.answer[n].answer43,@ranking.element43) %>
      <%= rank(4,@ranking.answer[n].answer44,@ranking.element44) %>
      <%= rank(4,@ranking.answer[n].answer45,@ranking.element45) %>
      <%= rank(4,@ranking.answer[n].answer46,@ranking.element46) %>
      <%= rank(4,@ranking.answer[n].answer47,@ranking.element47) %>
      <%= rank(4,@ranking.answer[n].answer48,@ranking.element48) %>
      <%= rank(4,@ranking.answer[n].answer49,@ranking.element49) %>
      <%= rank(4,@ranking.answer[n].answer50,@ranking.element50) %>      
      </th>
      </tr>
      <th class="table_header">Cランク</th>
      <th>
      <%= rank(3,@ranking.answer[n].answer1,@ranking.element1) %>
      <%= rank(3,@ranking.answer[n].answer2,@ranking.element2) %>
      <%= rank(3,@ranking.answer[n].answer3,@ranking.element3) %>
      <%= rank(3,@ranking.answer[n].answer4,@ranking.element4) %>
      <%= rank(3,@ranking.answer[n].answer5,@ranking.element5) %>
      <%= rank(3,@ranking.answer[n].answer6,@ranking.element6) %>
      <%= rank(3,@ranking.answer[n].answer7,@ranking.element7) %>
      <%= rank(3,@ranking.answer[n].answer8,@ranking.element8) %>
      <%= rank(3,@ranking.answer[n].answer9,@ranking.element9) %>
      <%= rank(3,@ranking.answer[n].answer10,@ranking.element10) %>
      <%= rank(3,@ranking.answer[n].answer11,@ranking.element11) %>
      <%= rank(3,@ranking.answer[n].answer12,@ranking.element12) %>
      <%= rank(3,@ranking.answer[n].answer13,@ranking.element13) %>
      <%= rank(3,@ranking.answer[n].answer14,@ranking.element14) %>
      <%= rank(3,@ranking.answer[n].answer15,@ranking.element15) %>
      <%= rank(3,@ranking.answer[n].answer16,@ranking.element16) %>
      <%= rank(3,@ranking.answer[n].answer17,@ranking.element17) %>
      <%= rank(3,@ranking.answer[n].answer18,@ranking.element18) %>
      <%= rank(3,@ranking.answer[n].answer19,@ranking.element19) %>
      <%= rank(3,@ranking.answer[n].answer20,@ranking.element20) %>
      <%= rank(3,@ranking.answer[n].answer21,@ranking.element21) %>
      <%= rank(3,@ranking.answer[n].answer22,@ranking.element22) %>
      <%= rank(3,@ranking.answer[n].answer23,@ranking.element23) %>
      <%= rank(3,@ranking.answer[n].answer24,@ranking.element24) %>
      <%= rank(3,@ranking.answer[n].answer25,@ranking.element25) %>
      <%= rank(3,@ranking.answer[n].answer26,@ranking.element26) %>
      <%= rank(3,@ranking.answer[n].answer27,@ranking.element27) %>
      <%= rank(3,@ranking.answer[n].answer28,@ranking.element28) %>
      <%= rank(3,@ranking.answer[n].answer29,@ranking.element29) %>
      <%= rank(3,@ranking.answer[n].answer30,@ranking.element30) %>
      <%= rank(3,@ranking.answer[n].answer31,@ranking.element31) %>
      <%= rank(3,@ranking.answer[n].answer32,@ranking.element32) %>
      <%= rank(3,@ranking.answer[n].answer33,@ranking.element33) %>
      <%= rank(3,@ranking.answer[n].answer34,@ranking.element34) %>
      <%= rank(3,@ranking.answer[n].answer35,@ranking.element35) %>
      <%= rank(3,@ranking.answer[n].answer36,@ranking.element36) %>
      <%= rank(3,@ranking.answer[n].answer37,@ranking.element37) %>
      <%= rank(3,@ranking.answer[n].answer38,@ranking.element38) %>
      <%= rank(3,@ranking.answer[n].answer39,@ranking.element39) %>
      <%= rank(3,@ranking.answer[n].answer40,@ranking.element40) %>
      <%= rank(3,@ranking.answer[n].answer41,@ranking.element41) %>
      <%= rank(3,@ranking.answer[n].answer42,@ranking.element42) %>
      <%= rank(3,@ranking.answer[n].answer43,@ranking.element43) %>
      <%= rank(3,@ranking.answer[n].answer44,@ranking.element44) %>
      <%= rank(3,@ranking.answer[n].answer45,@ranking.element45) %>
      <%= rank(3,@ranking.answer[n].answer46,@ranking.element46) %>
      <%= rank(3,@ranking.answer[n].answer47,@ranking.element47) %>
      <%= rank(3,@ranking.answer[n].answer48,@ranking.element48) %>
      <%= rank(3,@ranking.answer[n].answer49,@ranking.element49) %>
      <%= rank(3,@ranking.answer[n].answer50,@ranking.element50) %>
      </th>
      </tr>
      <th class="table_header">Dランク</th>
      <th>
      <%= rank(2,@ranking.answer[n].answer1,@ranking.element1) %>
      <%= rank(2,@ranking.answer[n].answer2,@ranking.element2) %>
      <%= rank(2,@ranking.answer[n].answer3,@ranking.element3) %>
      <%= rank(2,@ranking.answer[n].answer4,@ranking.element4) %>
      <%= rank(2,@ranking.answer[n].answer5,@ranking.element5) %>
      <%= rank(2,@ranking.answer[n].answer6,@ranking.element6) %>
      <%= rank(2,@ranking.answer[n].answer7,@ranking.element7) %>
      <%= rank(2,@ranking.answer[n].answer8,@ranking.element8) %>
      <%= rank(2,@ranking.answer[n].answer9,@ranking.element9) %>
      <%= rank(2,@ranking.answer[n].answer10,@ranking.element10) %>
      <%= rank(2,@ranking.answer[n].answer11,@ranking.element11) %>
      <%= rank(2,@ranking.answer[n].answer12,@ranking.element12) %>
      <%= rank(2,@ranking.answer[n].answer13,@ranking.element13) %>
      <%= rank(2,@ranking.answer[n].answer14,@ranking.element14) %>
      <%= rank(2,@ranking.answer[n].answer15,@ranking.element15) %>
      <%= rank(2,@ranking.answer[n].answer16,@ranking.element16) %>
      <%= rank(2,@ranking.answer[n].answer17,@ranking.element17) %>
      <%= rank(2,@ranking.answer[n].answer18,@ranking.element18) %>
      <%= rank(2,@ranking.answer[n].answer19,@ranking.element19) %>
      <%= rank(2,@ranking.answer[n].answer20,@ranking.element20) %>
      <%= rank(2,@ranking.answer[n].answer21,@ranking.element21) %>
      <%= rank(2,@ranking.answer[n].answer22,@ranking.element22) %>
      <%= rank(2,@ranking.answer[n].answer23,@ranking.element23) %>
      <%= rank(2,@ranking.answer[n].answer24,@ranking.element24) %>
      <%= rank(2,@ranking.answer[n].answer25,@ranking.element25) %>
      <%= rank(2,@ranking.answer[n].answer26,@ranking.element26) %>
      <%= rank(2,@ranking.answer[n].answer27,@ranking.element27) %>
      <%= rank(2,@ranking.answer[n].answer28,@ranking.element28) %>
      <%= rank(2,@ranking.answer[n].answer29,@ranking.element29) %>
      <%= rank(2,@ranking.answer[n].answer30,@ranking.element30) %>
      <%= rank(2,@ranking.answer[n].answer31,@ranking.element31) %>
      <%= rank(2,@ranking.answer[n].answer32,@ranking.element32) %>
      <%= rank(2,@ranking.answer[n].answer33,@ranking.element33) %>
      <%= rank(2,@ranking.answer[n].answer34,@ranking.element34) %>
      <%= rank(2,@ranking.answer[n].answer35,@ranking.element35) %>
      <%= rank(2,@ranking.answer[n].answer36,@ranking.element36) %>
      <%= rank(2,@ranking.answer[n].answer37,@ranking.element37) %>
      <%= rank(2,@ranking.answer[n].answer38,@ranking.element38) %>
      <%= rank(2,@ranking.answer[n].answer39,@ranking.element39) %>
      <%= rank(2,@ranking.answer[n].answer40,@ranking.element40) %>
      <%= rank(2,@ranking.answer[n].answer41,@ranking.element41) %>
      <%= rank(2,@ranking.answer[n].answer42,@ranking.element42) %>
      <%= rank(2,@ranking.answer[n].answer43,@ranking.element43) %>
      <%= rank(2,@ranking.answer[n].answer44,@ranking.element44) %>
      <%= rank(2,@ranking.answer[n].answer45,@ranking.element45) %>
      <%= rank(2,@ranking.answer[n].answer46,@ranking.element46) %>
      <%= rank(2,@ranking.answer[n].answer47,@ranking.element47) %>
      <%= rank(2,@ranking.answer[n].answer48,@ranking.element48) %>
      <%= rank(2,@ranking.answer[n].answer49,@ranking.element49) %>
      <%= rank(2,@ranking.answer[n].answer50,@ranking.element50) %>
      </th>
      </tr>
      <th class="table_header">Eランク</th>
      <th>
      <%= rank(1,@ranking.answer[n].answer1,@ranking.element1) %>
      <%= rank(1,@ranking.answer[n].answer2,@ranking.element2) %>
      <%= rank(1,@ranking.answer[n].answer3,@ranking.element3) %>
      <%= rank(1,@ranking.answer[n].answer4,@ranking.element4) %>
      <%= rank(1,@ranking.answer[n].answer5,@ranking.element5) %>
      <%= rank(1,@ranking.answer[n].answer6,@ranking.element6) %>
      <%= rank(1,@ranking.answer[n].answer7,@ranking.element7) %>
      <%= rank(1,@ranking.answer[n].answer8,@ranking.element8) %>
      <%= rank(1,@ranking.answer[n].answer9,@ranking.element9) %>
      <%= rank(1,@ranking.answer[n].answer10,@ranking.element10) %>
      <%= rank(1,@ranking.answer[n].answer11,@ranking.element11) %>
      <%= rank(1,@ranking.answer[n].answer12,@ranking.element12) %>
      <%= rank(1,@ranking.answer[n].answer13,@ranking.element13) %>
      <%= rank(1,@ranking.answer[n].answer14,@ranking.element14) %>
      <%= rank(1,@ranking.answer[n].answer15,@ranking.element15) %>
      <%= rank(1,@ranking.answer[n].answer16,@ranking.element16) %>
      <%= rank(1,@ranking.answer[n].answer17,@ranking.element17) %>
      <%= rank(1,@ranking.answer[n].answer18,@ranking.element18) %>
      <%= rank(1,@ranking.answer[n].answer19,@ranking.element19) %>
      <%= rank(1,@ranking.answer[n].answer20,@ranking.element20) %>
      <%= rank(1,@ranking.answer[n].answer21,@ranking.element21) %>
      <%= rank(1,@ranking.answer[n].answer22,@ranking.element22) %>
      <%= rank(1,@ranking.answer[n].answer23,@ranking.element23) %>
      <%= rank(1,@ranking.answer[n].answer24,@ranking.element24) %>
      <%= rank(1,@ranking.answer[n].answer25,@ranking.element25) %>
      <%= rank(1,@ranking.answer[n].answer26,@ranking.element26) %>
      <%= rank(1,@ranking.answer[n].answer27,@ranking.element27) %>
      <%= rank(1,@ranking.answer[n].answer28,@ranking.element28) %>
      <%= rank(1,@ranking.answer[n].answer29,@ranking.element29) %>
      <%= rank(1,@ranking.answer[n].answer30,@ranking.element30) %>
      <%= rank(1,@ranking.answer[n].answer31,@ranking.element31) %>
      <%= rank(1,@ranking.answer[n].answer32,@ranking.element32) %>
      <%= rank(1,@ranking.answer[n].answer33,@ranking.element33) %>
      <%= rank(1,@ranking.answer[n].answer34,@ranking.element34) %>
      <%= rank(1,@ranking.answer[n].answer35,@ranking.element35) %>
      <%= rank(1,@ranking.answer[n].answer36,@ranking.element36) %>
      <%= rank(1,@ranking.answer[n].answer37,@ranking.element37) %>
      <%= rank(1,@ranking.answer[n].answer38,@ranking.element38) %>
      <%= rank(1,@ranking.answer[n].answer39,@ranking.element39) %>
      <%= rank(1,@ranking.answer[n].answer40,@ranking.element40) %>
      <%= rank(1,@ranking.answer[n].answer41,@ranking.element41) %>
      <%= rank(1,@ranking.answer[n].answer42,@ranking.element42) %>
      <%= rank(1,@ranking.answer[n].answer43,@ranking.element43) %>
      <%= rank(1,@ranking.answer[n].answer44,@ranking.element44) %>
      <%= rank(1,@ranking.answer[n].answer45,@ranking.element45) %>
      <%= rank(1,@ranking.answer[n].answer46,@ranking.element46) %>
      <%= rank(1,@ranking.answer[n].answer47,@ranking.element47) %>
      <%= rank(1,@ranking.answer[n].answer48,@ranking.element48) %>
      <%= rank(1,@ranking.answer[n].answer49,@ranking.element49) %>
      <%= rank(1,@ranking.answer[n].answer50,@ranking.element50) %>
      </th>
      </tr>
      </table>
            </table>
      </div>
    </div>
  </div>
  <% end %>
</div>
