<p id="notice"><%= notice %></p>
<div class="hero is-primary is-bold">
<div class="hero-body">
    <div class="container">
    <h1><%= image_tag @user.image %><%=@user.name%>さんの回答一覧</h1>
    </div>
</div>
</div>
<div class="columns">
  <div class="column">
  <% (0..@user.answer.length-1).each do |n| %>
    <div class="card">
      <header class="card-header">
        <h1 class="card-header-title">
          <%= @user.answer[n].ranking.title %>
        </h1>
      </header>
      <div class="card-content">
      <div class="content">
      <h3 class="card-header-title">
        コメント:<%= @user.answer[n].comment %>
      </h3>
      <table class="table is-bordered is-narrow">
      <tr>
      <th class="table_header">Aランク</th><th><%= culc(5,n)%></th></tr>
      <th class="table_header">Bランク</th><th><%= culc(4,n)%></th></tr>
      <th class="table_header">Cランク</th><th><%= culc(3,n)%></th></tr>
      <th class="table_header">Dランク</th><th><%= culc(2,n)%></th></tr>
      <th class="table_header">Eランク</th><th><%= culc(1,n)%></th></tr>
      </table>
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to @twitter_url[n],:onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;",
        class: "button is-primary is-info is-large" do%>
        Twitterで共有する
        <% end %>
        <%= link_to @line_url[n],:onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;",
        class: "button is-primary is-info is-large" do%>
        Lineで共有する
        <% end %>
        <%= link_to @facebook_url[n],:onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;",
        class: "button is-primary is-info is-large" do%>
        Facebookで共有する
        <% end %>
        <% if current_user.id== @user.id%>
        <%= link_to '回答を取り消す', @user.answer[n], method: :delete, data: { confirm: '本当に削除しますか？'},class: "button is-primary is-warning is-large"%>
        <%end%>
        </footer>
    </div>
    <% end %>  
  </div>
  <div class="column">
  </div>
</div>
